@import "fonts";
@import "mq";
@import "palette";
@import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

.interactive-wrapper{

	position: relative;

	background: white;

}

.charts-container{

		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12px;

}

.gv-chart-wrapper{

	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
 
	@include mq($from: 100px, $until: 499px) {
	            flex-basis: calc(50% - 5px);
		        margin-right: 5px;
	}

	@include mq($from: 500px, $until: 700px) {
	            flex-basis: calc(33% - 5px);
		        margin-right: 5px;
	}

	@include mq($from: 700px) {
		        flex-basis: calc(33% - 5px);
		        margin-right: 5px;
	}  
 

	.country-name{
		    	font-size: 18px;
				line-height: 12px;
				font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
				font-weight: 900;
				margin-bottom: 6px;
				width: 100%;
		    	margin-bottom: 8px;
   }


   	.tick-text{
   		font-size: 12px;
   		fill: #999999;
   		//transform:translate(0,-5px);
	    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
   	}

   	.key-text{
   		font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
   	}

   	.subhead{
   		@include fs-textSans(2);

   		height: 30px;
   	}

   	.tick-line{
   		stroke: #999999;
    }

    .baseline{
    	stroke-width:1;
        stroke:#000;
        //fill:'none';
    }

   	.line-chart{
   		stroke: #333;
        stroke-width: 2;
        fill:none;
   	} 

   	.midline{
   		stroke-width: 1;
        stroke-dasharray: 1,2;
        stroke: #999999;
        fill: 'none';


   	}
}

.key-container{
	width: 100%;

	display: flex;

	@include fs-textSans(2);
	
	p{
		margin-right: 6px;
	}

	.key{
		margin-right: 6px;
	}
}

.blob-group{
	//display: inline-block;
	width: 100%;
}

.gv-new-variant{
	font-weight: 900;

}


.gv-blob{
    border-radius: 62.5rem;
    display: inline-block;
    position: relative;
    background-color: #c70000;
    width: .75em;
    height: .75em;
    content: '';
    margin-right: 0.1875rem;
    vertical-align: initial;
}