<div class="interactive-wrapper">
	<div class='scatterplot-chart-container'>
	<div class='sc-key'>

		<div class="key-group group1">
			<div class="sc-key-wrapper">
				<div id = "c5" class="key-color"></div>
				<p>Relaxed and rising</p>
			</div>

			<div class="sc-key-wrapper">
				<div id = "c3" class="key-color"></div>
				<p>Cautious as cases rise</p>
			</div>

			<div class="sc-key-wrapper">
				<div id = "c1" class="key-color"></div>
				<p>Rising despite lockdown</p>
			</div>
		</div>

		<div class="key-group">
			<div class="sc-key-wrapper">
				<div id = "c6" class="key-color"></div>
				<p>Relaxed and recovering</p>
			</div>

			<div class="sc-key-wrapper">
				<div id = "c4" class="key-color"></div>
				<p>Cautious as cases fall</p>
			</div>

			<div class="sc-key-wrapper">
				<div id = "c2" class="key-color"></div>
				<p>Lockdown flattening curve</p>
			</div>
		</div>

		

		
	</div>

	<div class="arrow-container-yaxis">
		<div class="arrow">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 5px 24.9px" width="5px" height="20px" style="enable-background:new 0 0 5 24.9;" xml:space="preserve"> <polygon points="5,4.3 2.5,0 0,4.3 2,4.3 2,24.9 3,24.9 3,4.3 "/>
			</svg>

			<p>% change in new weekly cases</p>

		</div>
	</div>
	</div>
		<div class='tooltip'>
			<div class='tooltip-country'></div>
			<div class='tooltip-variation'></div>
			<div class='tooltip-stringency'></div>
		</div>
	</div>

	<!-- <div class="annotation">Germany is at risk of experiencing a second peak</div>
	<div class="ann-arrow">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 28.1px 26.5px"  width="28.1px" height="26.5px" style="enable-background:new 0 0 28.1 26.5;" xml:space="preserve">
<path d="M26.1,22.2C24,9.5,12.9,0,0,0v1c12.4,0,23.1,9.1,25.1,21.2l-2,0.2l2.9,4.1l2.1-4.5L26.1,22.2z"/>
</svg>
	</div> -->
</div>